.flexiable-part{
    display: flex;
}

.hwidth{
    width: 50%;
    padding-left: 5%;
    
}
body{
    font-family: 'Times New Roman', serif;
    margin: 0%;
    padding: 5%;
}
h1{
    font-size: 40px;
    padding-left: 2%;

}
h2{
    font-size: 35px;
}
#h1border{
    border-left: 4px solid;
    border-color: orangered;
    
}
p{
    font-size: 20px;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}
.text-center h1{
    color: rgb(4, 4, 71);
    text-align: center;
}
.img-size{
    height: 100px;
    width: 100px;
}
.box-setting{
    width: 40%;
    margin-left: 2%;
    border-radius: 25px;
    color: black;
    padding: 3%;
}


